name: CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Fortran
        run: |
          sudo apt-get update
          sudo apt-get install -y gfortran
      - name: Build
        run: make
      - name: Test
        run: make test
